src/main/mule/flowprj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4de08e1c-3c2f-4083-9a7b-8cb8bb6f38a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e1794c47-045f-4c12-a80c-3c4b79bcbcdf" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="collage" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="a4f7c777-6811-46dc-9225-ba9efe64faa0" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="rooo" database="collage" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="71d7c855-f68a-4269-ac9d-46b835f013dc" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="collage" />
	</db:config>
	<flow name="flowprjFlow" doc:id="74104787-640f-40a3-b6d9-b87b09ad9f4f" >
		<http:listener doc:name="Listener" doc:id="fdffd19c-dac2-42bc-aa01-9da473fdc8c3" config-ref="HTTP_Listener_config" path="/flow"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="ca563ecb-e217-44e2-968d-058032d0e9a5" >
			<route >
				<db:select doc:name="Select" doc:id="4f88064e-12c6-4620-89c4-6b1e624dfe04" config-ref="Database_Config">
					<db:sql ><![CDATA[select * from teacher;]]></db:sql>
				</db:select>
			</route>
			<route >
				<db:select doc:name="Select" doc:id="33dd5112-9108-4938-bdcb-82dcb8235fa0" config-ref="Database_Config2">
					<db:sql ><![CDATA[select * from student ;]]></db:sql>
				</db:select>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="82f012c7-66ef-47f8-aa54-a550dcb3666e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten (payload..payload)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e1e38c92-050b-4465-a942-d26cb9bf8336" message="#[payload]"/>
	</flow>
	<flow name="flowprjFlow1" doc:id="0dc238d5-f731-40ba-9ce6-39dc33b9b4a2" >
		<set-payload value="payload" doc:name="Set Payload" doc:id="f50b0e1e-32c9-4f2e-afcc-8b838c6c1146" />
	</flow>
	<flow name="flowprjFlow2" doc:id="651deb10-aa65-4d33-93c5-1e127dd79a91" >
		<set-payload value="payload" doc:name="Set Payload" doc:id="65b5231a-1162-4380-889b-63e11c2e1611" />
	</flow>
</mule>
